#### Downloads

In [1]:
%pip install matplotlib
%pip install seaborn

Collecting matplotlibNote: you may need to restart the kernel to use updated packages.

  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\roaming\python\python312\site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   --------- ------------------------------ 1.8/7.8 MB 10.1 MB/s eta 0:00:01
   --------------------- ------------------ 4.2/7.8 MB 10.5 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   ---------------------------------- ----- 6.8/7.8 MB 10.8 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 1.3 MB/s eta 0:00:00
Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------------------------------- - 2.1/2.2 MB 14.7 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 14.7 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 14.7 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 14.7 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   -------------------------------- ------- 2.1/2.6 MB 14.7 MB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 12.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 12.2 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 3.7 MB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\Python312\\share'
Consider using the `--user` option or check the permissions.

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\python312\lib\site-packages (from seaborn) (2.2.1)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Installing collected packages: cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 matplotlib-3.9.2 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (c:\Python312\Lib\site-packages)

#### Imports

In [17]:
import pandas as pd 
import math

In [3]:
responses_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/responsesPrep.csv'))
organisation_review_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/organisationReviewPrep.csv'))
trainings_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/trainingsPrep.csv'))
# responses_df.info()
# organisation_review_df.info()
trainings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trainingId    100 non-null    int64
 1   trainingName  100 non-null    object
 2   domainName    100 non-null    object
 3   domainId      100 non-null    int64
 4   duration      100 non-null    int64
 5   startDate     100 non-null    object
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [4]:
trainings_reaponses_merged_df=responses_df.merge(trainings_df,on=['trainingId'])
trainings_reaponses_merged_df.info()
print(trainings_reaponses_merged_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   responseId    10000 non-null  int64
 1   userId        10000 non-null  int64
 2   trainingId    10000 non-null  int64
 3   score         10000 non-null  int64
 4   responseDate  10000 non-null  object
 5   trainingName  10000 non-null  object
 6   domainName    10000 non-null  object
 7   domainId      10000 non-null  int64
 8   duration      10000 non-null  int64
 9   startDate     10000 non-null  object
dtypes: int64(6), object(4)
memory usage: 781.4+ KB
      responseId  userId  trainingId  score responseDate  \
0              1      95          20      2   2024-10-06
1              2     181          28     34   2024-10-07
2              3     146           2     71   2024-10-07
3              4     293          39      4   2024-10-06
4              5       3          86     48   2024-10-07
...          ...     ...         ...    ...          ...
9995        9996     194          92     68   2024-10-07
9996        9997     291           2     46   2024-10-07
9997        9998     222           5     46   2024-10-06
9998        9999      94          56     10   2024-10-06
9999       10000     110          11      7   2024-10-06

                                trainingName       domainName  domainId  \
0     Total 6th generation internet solution           DevOps         3
1               Function-based executive hub  DataEngineering         1
2            Digitized cohesive installation        FullStack         2
3        Realigned systematic info-mediaries           DevOps         3
4      Sharable zero administration alliance        FullStack         2
...                                      ...              ...       ...
9995   Cloned asynchronous internet solution       SoftSkills         5
9996         Digitized cohesive installation        FullStack         2
9997     Reactive object-oriented time-frame           DevOps         3
9998        Right-sized multi-state firmware  DataEngineering         1
9999           Intuitive coherent definition      DataScience         4

      duration   startDate
0            2  2024-10-26
1           20  2025-02-22
2            1  2025-06-11
3           13  2025-09-28
4            3  2025-02-16
...        ...         ...
9995         7  2025-08-12
9996         1  2025-06-11
9997         9  2025-04-23
9998         6  2025-09-11
9999        16  2024-12-11

[10000 rows x 10 columns]

In [5]:
merged_df=trainings_reaponses_merged_df.merge(organisation_review_df,on=['trainingId','userId'], how='left')
merged_df.drop_duplicates()
merged_df.info()
merged_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10508 entries, 0 to 10507
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   responseId          10508 non-null  int64
 1   userId              10508 non-null  int64
 2   trainingId          10508 non-null  int64
 3   score               10508 non-null  int64
 4   responseDate        10508 non-null  object
 5   trainingName        10508 non-null  object
 6   domainName          10508 non-null  object
 7   domainId            10508 non-null  int64
 8   duration            10508 non-null  int64
 9   startDate           10508 non-null  object
 10  reviewId            3430 non-null   float64
 11  organisationScore   3430 non-null   float64
 12  communicationMarks  3430 non-null   float64
 13  hardWorkingMarks    3430 non-null   float64
 14  disciplineMarks     3430 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 1.2+ MB

,responseId,userId,trainingId,score,domainId,duration,reviewId,organisationScore,communicationMarks,hardWorkingMarks,disciplineMarks
count,10508.000000,10508.000000,10508.000000,10508.000000,10508.000000,10508.000000,3430.000000,3430.000000,3430.000000,3430.000000,3430.000000
mean,5015.260849,150.766749,50.890084,50.259897,2.772649,9.314427,4961.589796,49.722741,0.501458,0.496793,0.494169
std,2889.560752,86.633160,28.894912,29.190851,1.403739,5.792132,2859.296797,29.147513,0.500071,0.500063,0.500039
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,2519.750000,77.000000,26.000000,25.000000,1.000000,4.000000,2539.750000,24.250000,0.000000,0.000000,0.000000
50%,5022.500000,150.000000,51.000000,50.000000,3.000000,9.000000,4895.000000,50.000000,1.000000,0.000000,0.000000
75%,7518.250000,226.000000,76.000000,76.000000,4.000000,14.000000,7441.000000,75.000000,1.000000,1.000000,1.000000
max,10000.000000,300.000000,100.000000,100.000000,5.000000,20.000000,9996.000000,100.000000,1.000000,1.000000,1.000000

In [23]:
merged_df['communicationMarks'].fillna(math.ceil(merged_df['communicationMarks'].mean()),inplace=True)
merged_df['disciplineMarks'].fillna(math.ceil(merged_df['disciplineMarks'].mean()),inplace=True)
merged_df['hardWorkingMarks'].fillna(math.ceil(merged_df['hardWorkingMarks'].mean()),inplace=True)
merged_df['organisationScore'].fillna(math.ceil(merged_df['organisationScore'].mean()),inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_18980\3286621912.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['communicationMarks'].fillna(math.ceil(merged_df['communicationMarks'].mean()),inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_18980\3286621912.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['disciplineMarks'].fillna(math.ceil(merged_df['disciplineMarks'].mean()),inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_18980\3286621912.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['hardWorkingMarks'].fillna(math.ceil(merged_df['hardWorkingMarks'].mean()),inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_18980\3286621912.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['organisationScore'].fillna(math.ceil(merged_df['organisationScore'].mean()),inplace=True)

In [24]:
merged_df

,responseId,userId,trainingId,score,responseDate,trainingName,domainName,domainId,duration,startDate,reviewId,organisationScore,communicationMarks,hardWorkingMarks,disciplineMarks
0,1,95,20,2,2024-10-06,Total 6th generation internet solution,DevOps,3,2,2024-10-26,NaN,50.0,1.0,1.0,1.0
1,2,181,28,34,2024-10-07,Function-based executive hub,DataEngineering,1,20,2025-02-22,NaN,50.0,1.0,1.0,1.0
2,3,146,2,71,2024-10-07,Digitized cohesive installation,FullStack,2,1,2025-06-11,NaN,50.0,1.0,1.0,1.0
3,4,293,39,4,2024-10-06,Realigned systematic info-mediaries,DevOps,3,13,2025-09-28,NaN,50.0,1.0,1.0,1.0
4,5,3,86,48,2024-10-07,Sharable zero administration alliance,FullStack,2,3,2025-02-16,1655.0,16.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10503,9997,291,2,46,2024-10-07,Digitized cohesive installation,FullStack,2,1,2025-06-11,NaN,50.0,1.0,1.0,1.0
10504,9998,222,5,46,2024-10-06,Reactive object-oriented time-frame,DevOps,3,9,2025-04-23,NaN,50.0,1.0,1.0,1.0
10505,9999,94,56,10,2024-10-06,Right-sized multi-state firmware,DataEngineering,1,6,2025-09-11,NaN,50.0,1.0,1.0,1.0
10506,10000,110,11,7,2024-10-06,Intuitive coherent definition,DataScience,4,16,2024-12-11,4335.0,43.0,0.0,1.0,0.0
10507,10000,110,11,7,2024-10-06,Intuitive coherent definition,DataScience,4,16,2024-12-11,8481.0,72.0,1.0,1.0,1.0

In [25]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10508 entries, 0 to 10507
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   responseId          10508 non-null  int64
 1   userId              10508 non-null  int64
 2   trainingId          10508 non-null  int64
 3   score               10508 non-null  int64
 4   responseDate        10508 non-null  object
 5   trainingName        10508 non-null  object
 6   domainName          10508 non-null  object
 7   domainId            10508 non-null  int64
 8   duration            10508 non-null  int64
 9   startDate           10508 non-null  object
 10  reviewId            3430 non-null   float64
 11  organisationScore   10508 non-null  float64
 12  communicationMarks  10508 non-null  float64
 13  hardWorkingMarks    10508 non-null  float64
 14  disciplineMarks     10508 non-null  float64
dtypes: float64(5), int64(6), object(4)
memory usage: 1.2+ MB

In [28]:
columns_to_convert = ['reviewId', 'organisationScore', 'communicationMarks', 'hardWorkingMarks', 'disciplineMarks']
merged_df[columns_to_convert] = merged_df[columns_to_convert].fillna(0).astype(int)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10508 entries, 0 to 10507
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   responseId          10508 non-null  int64
 1   userId              10508 non-null  int64
 2   trainingId          10508 non-null  int64
 3   score               10508 non-null  int64
 4   responseDate        10508 non-null  object
 5   trainingName        10508 non-null  object
 6   domainName          10508 non-null  object
 7   domainId            10508 non-null  int64
 8   duration            10508 non-null  int64
 9   startDate           10508 non-null  object
 10  reviewId            10508 non-null  int32
 11  organisationScore   10508 non-null  int32
 12  communicationMarks  10508 non-null  int32
 13  hardWorkingMarks    10508 non-null  int32
 14  disciplineMarks     10508 non-null  int32
dtypes: int32(5), int64(6), object(4)
memory usage: 1.0+ MB

In [29]:
# merged_df.drop(columns=['responseId','userId','trainingId','responseData','dommainId','startDate','reviewId'])

duration
2     1005
9      963
7      837
1      746
3      630
10     583
8      541
18     533
17     529
16     451
13     426
6      421
19     413
4      409
5      406
14     404
11     390
20     307
15     304
12     210
Name: count, dtype: int64

In [30]:
def duration_time(value):
    if value>0  and value<=7:
        return "Small Term"
    elif value>7 and value<=14:
        return "Mid Term"
    elif value>14:
        return "Long Term"
    

merged_df['courseType']=merged_df['duration'].apply(duration_time)

In [31]:
import pandas as pd

# Assuming the DataFrame is called 'df' and has the necessary columns
# score, organisationScore, communicationMarks, hardWorkingMarks, disciplineMarks

def evaluate_promotion(row):
    combined_score = row['score'] + row['organisationScore']
    
    # Condition 1: Score + organisation score > 120 and all other marks are 1
    if (combined_score > 120 and row['communicationMarks'] == 1 and 
        row['hardWorkingMarks'] == 1 and row['disciplineMarks'] == 1):
        return 'Promoted'
    
    # Condition 2: Combined score > 140 and any two of the marks are true
    elif (combined_score > 140 and 
          ((row['communicationMarks'] == 1 and row['hardWorkingMarks'] == 1) or
           (row['communicationMarks'] == 1 and row['disciplineMarks'] == 1) or
           (row['hardWorkingMarks'] == 1 and row['disciplineMarks'] == 1))):
        return 'Promoted'
    
    # Condition 3: Score > 160 and any one parameter is true
    elif (row['score'] > 160 and 
          (row['communicationMarks'] == 1 or row['hardWorkingMarks'] == 1 or row['disciplineMarks'] == 1)):
        return 'Promoted'
    
    # Else: Not promoted
    else:
        return 'Not Promoted'

# Apply the function to each row in the DataFrame
df['PromotionStatus'] = df.apply(evaluate_promotion, axis=1)

# Display the result
print(df[['score', 'organisationScore', 'communicationMarks', 'hardWorkingMarks', 'disciplineMarks', 'PromotionStatus']])

,responseId,userId,trainingId,score,responseDate,trainingName,domainName,domainId,duration,startDate,reviewId,organisationScore,communicationMarks,hardWorkingMarks,disciplineMarks,courseType
0,1,95,20,2,2024-10-06,Total 6th generation internet solution,DevOps,3,2,2024-10-26,0,50,1,1,1,Small Term
1,2,181,28,34,2024-10-07,Function-based executive hub,DataEngineering,1,20,2025-02-22,0,50,1,1,1,Long Term
2,3,146,2,71,2024-10-07,Digitized cohesive installation,FullStack,2,1,2025-06-11,0,50,1,1,1,Small Term
3,4,293,39,4,2024-10-06,Realigned systematic info-mediaries,DevOps,3,13,2025-09-28,0,50,1,1,1,Mid Term
4,5,3,86,48,2024-10-07,Sharable zero administration alliance,FullStack,2,3,2025-02-16,1655,16,1,0,1,Small Term
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10503,9997,291,2,46,2024-10-07,Digitized cohesive installation,FullStack,2,1,2025-06-11,0,50,1,1,1,Small Term
10504,9998,222,5,46,2024-10-06,Reactive object-oriented time-frame,DevOps,3,9,2025-04-23,0,50,1,1,1,Mid Term
10505,9999,94,56,10,2024-10-06,Right-sized multi-state firmware,DataEngineering,1,6,2025-09-11,0,50,1,1,1,Small Term
10506,10000,110,11,7,2024-10-06,Intuitive coherent definition,DataScience,4,16,2024-12-11,4335,43,0,1,0,Long Term
10507,10000,110,11,7,2024-10-06,Intuitive coherent definition,DataScience,4,16,2024-12-11,8481,72,1,1,1,Long Term