#### Downloads

In [ ]:
%pip install matplotlib
%pip install seaborn

#### Imports

In [2]:
import pandas as pd

In [7]:
responses_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/responsesPrep.csv'))
organisation_review_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/organisationReviewPrep.csv'))
trainings_df=pd.DataFrame(pd.read_csv('../DataEngineering/02Prep/trainingsPrep.csv'))
# responses_df.info()
# organisation_review_df.info()
trainings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trainingId    100 non-null    int64
 1   trainingName  100 non-null    object
 2   domainName    100 non-null    object
 3   domainId      100 non-null    int64
 4   duration      100 non-null    int64
 5   startDate     100 non-null    object
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [11]:
trainings_reaponses_merged_df=responses_df.merge(trainings_df,on=['trainingId'])
trainings_reaponses_merged_df.info()
print(trainings_reaponses_merged_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   responseId    10000 non-null  int64
 1   userId        10000 non-null  int64
 2   trainingId    10000 non-null  int64
 3   score         10000 non-null  int64
 4   responseDate  10000 non-null  object
 5   trainingName  10000 non-null  object
 6   domainName    10000 non-null  object
 7   domainId      10000 non-null  int64
 8   duration      10000 non-null  int64
 9   startDate     10000 non-null  object
dtypes: int64(6), object(4)
memory usage: 781.4+ KB
      responseId  userId  trainingId  score responseDate  \
0              1      95          20      2   2024-10-06
1              2     181          28     34   2024-10-07
2              3     146           2     71   2024-10-07
3              4     293          39      4   2024-10-06
4              5       3          86     48   2024-10-07
...          ...     ...         ...    ...          ...
9995        9996     194          92     68   2024-10-07
9996        9997     291           2     46   2024-10-07
9997        9998     222           5     46   2024-10-06
9998        9999      94          56     10   2024-10-06
9999       10000     110          11      7   2024-10-06

                                trainingName       domainName  domainId  \
0     Total 6th generation internet solution           DevOps         3
1               Function-based executive hub  DataEngineering         1
2            Digitized cohesive installation        FullStack         2
3        Realigned systematic info-mediaries           DevOps         3
4      Sharable zero administration alliance        FullStack         2
...                                      ...              ...       ...
9995   Cloned asynchronous internet solution       SoftSkills         5
9996         Digitized cohesive installation        FullStack         2
9997     Reactive object-oriented time-frame           DevOps         3
9998        Right-sized multi-state firmware  DataEngineering         1
9999           Intuitive coherent definition      DataScience         4

      duration   startDate
0            2  2024-10-26
1           20  2025-02-22
2            1  2025-06-11
3           13  2025-09-28
4            3  2025-02-16
...        ...         ...
9995         7  2025-08-12
9996         1  2025-06-11
9997         9  2025-04-23
9998         6  2025-09-11
9999        16  2024-12-11

[10000 rows x 10 columns]

In [18]:
merged_df=trainings_reaponses_merged_df.merge(organisation_review_df,on=['trainingId','userId'], how='left')
merged_df.drop_duplicates()
merged_df.info()
merged_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10508 entries, 0 to 10507
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   responseId          10508 non-null  int64
 1   userId              10508 non-null  int64
 2   trainingId          10508 non-null  int64
 3   score               10508 non-null  int64
 4   responseDate        10508 non-null  object
 5   trainingName        10508 non-null  object
 6   domainName          10508 non-null  object
 7   domainId            10508 non-null  int64
 8   duration            10508 non-null  int64
 9   startDate           10508 non-null  object
 10  reviewId            3430 non-null   float64
 11  organisationScore   3430 non-null   float64
 12  communicationMarks  3430 non-null   float64
 13  hardWorkingMarks    3430 non-null   float64
 14  disciplineMarks     3430 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 1.2+ MB

,responseId,userId,trainingId,score,domainId,duration,reviewId,organisationScore,communicationMarks,hardWorkingMarks,disciplineMarks
count,10508.000000,10508.000000,10508.000000,10508.000000,10508.000000,10508.000000,3430.000000,3430.000000,3430.000000,3430.000000,3430.000000
mean,5015.260849,150.766749,50.890084,50.259897,2.772649,9.314427,4961.589796,49.722741,0.501458,0.496793,0.494169
std,2889.560752,86.633160,28.894912,29.190851,1.403739,5.792132,2859.296797,29.147513,0.500071,0.500063,0.500039
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,2519.750000,77.000000,26.000000,25.000000,1.000000,4.000000,2539.750000,24.250000,0.000000,0.000000,0.000000
50%,5022.500000,150.000000,51.000000,50.000000,3.000000,9.000000,4895.000000,50.000000,1.000000,0.000000,0.000000
75%,7518.250000,226.000000,76.000000,76.000000,4.000000,14.000000,7441.000000,75.000000,1.000000,1.000000,1.000000
max,10000.000000,300.000000,100.000000,100.000000,5.000000,20.000000,9996.000000,100.000000,1.000000,1.000000,1.000000